<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css" />
        <!--<script type="text/javascript" src ="index.js"-->
        <title>
            My first Server
        </title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://unpkg.com/popper.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
        <h1>Zodiac Sign App</h1>
        <p>Enter your Birthday down below:</p>
        <form action="/" method="post">
                <input name="bday" id="datepicking" type="text" class="form-control" value="02-16-2012">
                <button type="submit">Submit</button>
        </form>

        </form>
        <h3>What sign am I</h3>
        <h3>My sign information</h3>
        </div>
        
        <script>
            // $('#datepicking').datepicker()
        </script>
    </body>
</html>