<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>
            My first Server
        </title>
    </head>
    <body>
        <h1>Results</h1>
        <p>You are a <%= result %></p>
        <p>Your horoscope is: <%= data %></p>
        <!--<form action="/" method="post">-->
    </body>
</html>